/* Overwrite edge colors and arrow marker color in dark mode. */
html[data-theme="dark"] pre.mermaid {
  & .marker {
    fill: #e3e3e3 !important;
    stroke: #e3e3e3 !important;
  }
  & .flowchart-link {
    stroke: #e3e3e3 !important;
  }
}
