/* Overwrite xarray wrapper in dark mode. */
html[data-theme="dark"] div.cell_output div.output.text_html {
  background-color: var(--pst-color-on-background) !important;
  color: var(--pst-color-text-base) !important;
}

/* Tables */
html[data-theme="dark"] div.cell_output table {
  color: var(--pst-color-text-base) !important;
}

html[data-theme="dark"] div.cell_output tbody tr:nth-child(odd) {
  background-color: var(--pst-color-on-background) !important;
}
