@import url("../node_modules/cytoscape-panzoom/cytoscape.js-panzoom.css");

.container {
    display: flex;
    height: 100%;
    border: 2px solid black;
}

.graph-container {
    width: 90%;
    height: 100%;
    border-right: 2px solid black;
}

.controls-container {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.radio-input {
    margin: 5px;
    display: inline-block;
}

.radio-label {
    margin: 5px;
    display: inline-block; /* Change display to inline */
}
