name: "Run Examples"

on:
  push:
    branches-ignore:
      - "dependabot/**"
      - "sourcery/**"
      - "pre-commit-ci-update-config"
  pull_request:
  workflow_dispatch:

jobs:
  create-example-list:
    name: Create Example List
    runs-on: ubuntu-latest
    outputs:
      example-list: ${{ steps.create-example-list.outputs.example-list }}
    steps:
      - name: Set example list output
        id: create-example-list
        uses: glotaran/pyglotaran-examples@main
        with:
          example_name: set example list
          set_example_list: true

  run-examples:
    name: "Run Example: "
    runs-on: ubuntu-latest
    needs: [create-example-list]
    strategy:
      matrix:
        example_name: ${{fromJson(needs.create-example-list.outputs.example-list)}}
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python 3.10
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - name: Install uv
        uses: astral-sh/setup-uv@v4
      - name: Install dependencies
        run: |
          export UV_PROJECT_ENVIRONMENT="${pythonLocation}"
          uv sync --frozen --no-default-groups

      - name: ${{ matrix.example_name }}
        id: example-run
        uses: glotaran/pyglotaran-examples@main
        with:
          example_name: ${{ matrix.example_name }}
          install_extras: false

      - name: Upload Example Plots Artifact
        uses: actions/upload-artifact@v6
        with:
          name: example-notebooks-${{ matrix.example_name }}
          path: ${{ steps.example-run.outputs.notebook-path }}

  collect-artifacts:
    name: "Collect artifacts and reupload as bundel"
    runs-on: ubuntu-latest
    needs: [run-examples]
    steps:
      - name: Download All Artifacts
        uses: actions/download-artifact@v7
        with:
          path: example-notebooks
          pattern: example-notebooks-*
          merge-multiple: true

      - name: Upload Example Plots Artifact
        uses: actions/upload-artifact@v6
        with:
          name: example-notebooks
          path: example-notebooks
          overwrite: true

      - name: Delete Intermediate artifacts
        uses: GeekyEggo/delete-artifact@v5
        with:
          name: example-notebooks-*
